/* Default Graphication CSS */

* {
	color: #000;
	background-color: #fff;
	font-family: Sans;
	font-style: normal;
	line-height: 1;
	font-size: 10;
}

canvas {
	background-color: #ffff;
}

label {
	color: #333;
	font-size: 12;
	text-align: left;
	padding: 8;
}

grid label {
	text-align: center;
}

/*grid.minor line {
	width: 1;
	color: #eee;
}

grid.minor label {
	font-size: 0;
}

grid.major line {
	width: 2;
	color: #ddd;
}*/

point {
	radius: 6;
}

wavegraph {
	vertical-align: middle;
	height: 90%;
}

wavegraph curve {
	smoothness: 0.3;
}

doughnut {
	radius-outer: 100%;
	radius-inner: 50%;
	circle-start: 0%;
	circle-length: 100%;
}

legend {
	line-height: 25;
}

legend key {
	width: 15;
	height: 15;
	padding: 0 8;
	border-width: 1;
	border-color: #555;
}

/*legend label {
	font-size: 12;
}*/