/* Default Graphication CSS */

* {
	color: #000;
	background-color: #fff;
	font-family: Sans;
}

label {
	color: #999;
	font-size: 12;
}

grid minor line {
	width: 1;
	color: #eee;
}

grid minor label {
	font-size: 0;
}

grid major line {
	width: 2;
	color: #ddd;
}

point {
	radius: 6;
}

wavegraph {
	vertical-align: middle;
}

wavegraph curve {
	smoothness: 0.3;
}